extends ../layout

block content
  style
    include static/css/style.css
  body
  div(class='row')
    div(class='col-4 offset-4')
      img.d-block.mx-auto.mb-4#logo(src="http://rethinkcanada.com/app/uploads/2015/02/coast-logo-320x320.png" alt="" width="160" height="160")

  div(class='row')
    div(class='col-4 offset-4')
      form(method='POST' action='/login')
        h1(class='mb-3 font-weight-normal text-center text-white') Please Login
        label(for='inputEmail' class='sr-only') Email Address
        input(type='email' id='email' name='email' class='form-control' placeholder='Email address' required='' autofocus='' autocomplete='off')
        label(for='inputPassword' class='sr-only') Password
        input(type='password' id='password' name='password' class='form-control' placeholder='Password' required='' autocomplete='off')
        div(class='checkbox mb-3')
          label(class='container')
            input(class='checkbox-green' type='checkbox', name='rememberMe', value='yes')
            p Remember Me
        button(class='btn btn-lg btn-block btn-green' type='submit') Log in
