extends dashboard

block inner-content
  h1.mb-4.text-center Settings
  .row
    .col-12
      form(method='POST' action='/settings')
        .row.mb-4
          .col-12
            h2 Password
        .row.mb-4
          .col-md-6
            label(for='password-initial') Initial
            input#password-initial.form-control(type='password' name='passwordInitial' required)
          .col-md-6
            label(for='password-confirm') Confirm
            input#password-confirm.form-control(type='password' name='passwordConfirm' required)
        .row.mb-4
          .col-12
            button.btn-lg.w-100(type='submit' class='btn btn-success') Submit
