html,body{height:100%}.background-alternate{background:#0067c6}.background-alt{background:#fff}.btn-green{color:white;background-color:#54B818;border-color:#54B818}.btn-green:hover{background-color:#54B818;border-color:#54B818;text-decoration-line:underline}

div {
    text-align: left;
    font-family: arial;
}
textarea {
    height: 300px;
    width: 600px;
}

body
{
    font-family: arial;
}

th,td
{
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td
{
    padding: 5px 10px;
}

th
{
    background: #0067C6;
    color: white;
    padding: 5px 10px;
}

td:hover
{
    cursor: pointer;
    background: #666;
    color: white;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
