html, body {
  height: 100%;
}

body {
  font-size: 1rem;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.my-45 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.background-alternate {
	background: $background-alternate;
}

.background-dark {
  background: $background-dark;
}

.align-items-center {
  align-items: center;
}

.btn-success {
  background-color: $brand-green;
  border-color: $brand-green;

  &:hover {
    background-color: $brand-green-dark;
    border-color: $brand-green-dark;
  }
}

.badge-lg {
  font-size: 125%;
}

.badge-sm {
  font-size: 75%;
}

.progress {
  font-size: 1rem;
  height: 40px;
}

.custom-file-label {
  overflow: hidden;

  &.disabled {
    background: $disabled-grey;
  }
}

.custom-file-input:disabled {
  opacity: 0 !important;
}
