html, body {
  height: 100%;
}

body {
  font-size: 1rem;
}

.background-alternate {
	background: $background-alternate;
}

.background-dark {
  background: $background-dark;
}

.align-items-center {
  align-items: center;
}

.badge-lg {
  font-size: 125%;
}

.badge-sm {
  font-size: 75%;
}
