extends ../dashboard

block inner-content
  h1 Forwardees
  .row.mb-4
    .col-3.mb-3
      label(for='forwarded') Forwardee
        select#forwarded.custom-select(name='forwardee' required)
          option(value='') Choose..
            each forwardee in forwardeesid
              option(value= forwardee)= forwardee
    form(method='post', action='/claims/' + ecid)
      .col-2.mb-3
        button.btn.btn-primary.btn-lg(type='submit' name='sub') Submit