extends ../dashboard

block inner-content
  h1.text-center Forwardees
  .row.mb-4
    .col-12
      form(method='post', action='/claims/' + expenseClaimId + '/forward')
        label(for='forwarded') Forwardee
        select#forwarded.custom-select(name='forwardee' required)
          option(value='') Choose..
            each forwardee in forwardees
              option(value= forwardee.employeeId)= forwardee.employeeName
        .input-group.mt-3
          button.btn.btn-primary.w-100(type='submit') Submit
