extends ../dashboard

block inner-content
  .row.mb-5
    .col-12.text-center
      h1 Claims
  .row.mb-5
    a.col-md-6.offset-md-3(href='/claims/new')
      button.btn.btn-primary.btn-lg.btn-block.btn-success New
  .row.mb-3
    .col-12.text-center
      h2 Submitted
  .row.mb-5
    .col-md-12.col-lg-12
      ul.nav.nav-tabs
        li.nav-item
          a(class="nav-link active" href="#all" id="all-tab" data-toggle="tab" aria-controls="home" aria-expanded="true") All
        li.nav-item
          a(class="nav-link" href="#pending" id="pending-tab" data-toggle="tab") Pending
        li.nav-item
          a(class="nav-link" href="#approved" id="approved-tab" data-toggle="tab") Approved
        li.nav-item
          a(class="nav-link" href="#rejected" id="rejected-tab" data-toggle="tab") Rejected
      div.tab-content
        div.tab-pane.show.active(id="all")
          .table-responsive
            table(class="table table-striped table-hover" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody(id="allTbody")
                tr
                  td 1234
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Pending
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Pending
        div.tab-pane(id="pending")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody(id="pendingtbody")
                tr
                  td 1242
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Pending
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Pending
        div.tab-pane(id="approved")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status

              tbody(id="approvedtbody")
                tr
                  td 1242
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Approved
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Approved
        div.tab-pane(id="rejected")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status

              tbody(id="rejectedtbody")
                tr
                  td 1242
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Rejected
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Rejected
          .row.mb-3
  .col-12.text-center
    h2 Submitted
  .row.mb-3
    .col-md-12.col-lg-12
      ul.nav.nav-tabs
        li.nav-item
          a(class="nav-link active" href="#all" id="all-tab" data-toggle="tab" aria-controls="home" aria-expanded="true") All
        li.nav-item
          a(class="nav-link" href="#pending" id="pending-tab" data-toggle="tab") Pending
        li.nav-item
          a(class="nav-link" href="#approved" id="approved-tab" data-toggle="tab") Approved
        li.nav-item
          a(class="nav-link" href="#rejected" id="rejected-tab" data-toggle="tab") Rejected
      div.tab-content
        div.tab-pane.show.active(id="all")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody(id="allTbody")
                tr
                  td 1234
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Pending
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Pending
        div.tab-pane(id="pending")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody(id="pendingtbody")
                tr
                  td 1242
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Pending
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Pending
        div.tab-pane(id="approved")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status

              tbody(id="approvedtbody")
                tr
                  td 1242
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Approved
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Approved
        div.tab-pane(id="rejected")
          .table-responsive
            table(class="table table-striped" cellpadding="5")
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status

              tbody(id="rejectedtbody")
                tr
                  td 1242
                  td 2018/01/01
                  td James Chen
                  td N/A
                  td Rejected
                tr
                  td 1234
                  td 2018/01/01
                  td Fion Yuen
                  td N/A
                  td Rejected

